# Ignore IDE-related files
.idea
.env

# Ignore files related to API keys
config.py

# Ignore compiled bytecode files
*.pyc

# Ignore bash scripts and other misc files in LargeLanguageModel
LargeLanguageModel/*.sh
LargeLanguageModel/*.txt
